{% load static %}
<aside id="sidebar" class="js-sidebar">
    <!-- Content For Sidebar -->
    <div class="h-100">
        <div class="sidebar-logo text-center">
            <h3>PROSESMT</h3>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="{% url 'dashboard' %}" class="sidebar-link">
                    <i class="fa-solid fa-list"></i> Dashboard
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#menu-minha-conta" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fa-regular fa-user"></i> Minha Conta
                </a>
                <ul id="menu-minha-conta" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'edit' %}" class="sidebar-link">Minhas Informações</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#menu-fale-conosco" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fa-solid fa-headset"></i> Fale Conosco
                </a>
                <ul id="menu-fale-conosco" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="https://wa.me/5592985143181?text=Ol%C3%A1!%20Preciso%20de%20suporte%20com%20o%20portal%20do%20cliente." class="sidebar-link">
                            <i class="fa-solid fa-headset"></i> WhatsApp
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="mailto:comercial@prosesmt.com?subject=Informa%C3%A7%C3%B5es%20sobre%20nossos%20servi%C3%A7os&body=Ol%C3%A1%2C%0A%0AGostaria%20de%20saber%20mais%20sobre%20os%20servi%C3%A7os%20oferecidos%20pela%20empresa.%0A%0AAtenciosamente%2C%0A[Seu%20Nome]" class="sidebar-link" target="_blank">
                            <i class="fa-regular fa-envelope"></i> Enviar Email
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <a href="{% url 'logout' %}" class="sidebar-link" aria-expanded="false"><i class="fa-solid fa-arrow-left pe-2"></i>
            Sair
        </a>
    </div>
</aside>