{% extends 'base.html' %}
{% load static %}

{% block title %}Alterar Informações - Portal do Cliente{% endblock %}

{% block content %}
<div class="main">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Alterar Informações
                    </div>
                    <div class="card-body">
                        <!-- Alerts -->
                        {% include 'partials/_alert.html' %}
                        <form action="{% url 'edit' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
