{% extends 'base.html' %}
{% load static %}

{% block title %}Alterar Informações - PROSESMT{% endblock %}

{% block styles %}
<link href="{% static 'css/pages/change_user_info.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'partials/sidebar.html' %}
    <main class="main container-fluid">
        <div class="card mt-5">
            <div class="card-header">Alterar Informações</div>
            <div class="card-body">
                <form method="POST" action="{% url 'edit' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Salvar Alterações</button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
