{% extends "partials/sidebar.html" %}
{% load static %}

{% block title %}
Dashboard - Portal do Cliente - PROSESMT
{% endblock %}

{% block content %}
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-12">
            <div class="card p-4 shadow-sm border-0">
                <h4 class="text-dark">Bem-vindo, {{ worker.nome_do_representante_legal }}</h4>
                <p class="mb-0">Dashboard Administrativo - {{ worker.empresa }}</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card shadow-sm border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h5 class="mb-0">Arquivos Disponíveis</h5>
                </div>
                <div class="card-body">
                    <table id="fileTable" class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>Nome do Arquivo</th>
                                <th>Ano do Documento</th>
                                <th>Data de Disponibilização</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <td>{{ file.nome_do_arquivo }}</td>
                                <td>{{ file.ano_do_arquivo }}</td>
                                <td>{{ file.data_de_upload_do_arquivo }}</td>
                                <td>
                                    <a href="{{ file.endereço_do_arquivo.url }}" class="btn btn-sm btn-primary" download>
                                        Download
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function() {
        $('#fileTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "order": [[1, 'asc']],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/pt-BR.json"
            }
        });
    });
</script>
{% endblock %}
