{% extends "base.html" %}
{% load static %}

{% block title %}
Dashboard - PROSESMT
{% endblock %}

{% block styles %}
<!-- CSS específico para o dashboard -->
<link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet">
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Card de boas-vindas -->
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">Bem-vindo, {{ worker.nome_do_representante_legal }}</h4>
            <p class="card-text">Dashboard Administrativo - {{ worker.empresa }}</p>
        </div>
    </div>

    <!-- Card com a tabela de arquivos -->
    <div class="card">
        <div class="card-header bg-primary text-white">
            Arquivos Disponíveis
        </div>
        <div class="card-body">
            <table id="fileTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nome do Arquivo</th>
                        <th>Ano do Documento</th>
                        <th>Data de Disponibilização</th>
                        <th>Download</th>
                    </tr>
                </thead>
                {% if files %}
                <tbody>
                    {% for file in files %}
                    <tr>
                        <td>{{ file.nome_do_arquivo }}</td>
                        <td>{{ file.ano_do_arquivo }}</td>
                        <td>{{ file.data_de_upload_do_arquivo }}</td>
                        <td><a href="{{ file.endereço_do_arquivo.url }}" class="btn btn-primary btn-sm" download>Download</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <tbody>
                    <tr>
                        <td colspan="4" class="text-center">Nenhum arquivo disponível</td>
                    </tr>
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#fileTable').DataTable({
            paging: true,
            searching: true,
            ordering: true,
            language: {
                url: "https://cdn.datatables.net/plug-ins/2.0.8/i18n/pt-BR.json",
            }
        });
    });
</script>
{% endblock %}
