{% extends 'base.html' %}

{% block title %}Dashboard - PROSESMT{% endblock %}

{% block styles %}
<link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'partials/sidebar.html' %}
    <main class="main container-fluid">
        <div class="card">
            <div class="card-body">
                <h4>Bem-vindo, {{ worker.nome_do_representante_legal }}</h4>
                <p>Dashboard Administrativo - {{ worker.empresa }}</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">Arquivos Disponíveis</div>
            <div class="card-body">
                <table id="fileTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome do Arquivo</th>
                            <th>Ano do Documento</th>
                            <th>Data de Disponibilização</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ file.nome_do_arquivo }}</td>
                            <td>{{ file.ano_do_arquivo }}</td>
                            <td>{{ file.data_de_upload_do_arquivo }}</td>
                            <td><a href="{{ file.endereço_do_arquivo.url }}" class="btn btn-primary" download>Download</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#fileTable').DataTable({
            paging: true,
            searching: true,
            ordering: true,
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
            }
        });
    });
</script>
{% endblock %}
