{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--Index page CSS-->
    <link href="{% static 'css/pages/forgot_password.css' %}" rel="stylesheet">
    <title>Portal do Cliente - PROSESMT</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
                <div class="row align-items-center">
                    <h2 class="header-text mb-4 text-center">
                        Recuperação de senha
                    </h2>
                    <p>
                        Informe o e-mail utilizado para criação da conta, caso pertença a uma conta existente, um e-mail de recuperação de senha será enviado. 
                    </p>
                    <form action="{% url 'forgot_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="email" class="form-control form-control-lg bg-light fs-6" placeholder="E-mail cadastrado">
                        </div>
    
                        <div class="input-group mb-3">
                            <button class="btn btn-lg btn-primary w-100 fs-6 forgot-password-button">Enviar e-mail de recuperação</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</body>
</html>