{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--Index page CSS-->
    <link href="{% static 'css/pages/login.css' %}" rel="stylesheet">
    <title>Portal do Cliente - PROSESMT</title>
</head>
<body>

    <!----------------------- Main Container -------------------------->

     <div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!----------------------- Login Container -------------------------->

       <div class="row border rounded-5 p-3 bg-white shadow box-area">

    <!--------------------------- Left Box ----------------------------->

       <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #09112d;">
           <div class="featured-image mb-3">
            <img src="{% static 'img/pages/index/image5.svg' %}" class="img-fluid" style="width: 300px;">
           </div>
           <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Entregando inovação e facilidade para você!</small>
       </div> 

    <!-------------------- ------ Right Box ---------------------------->
        
       <div class="col-md-6 right-box">
          <div class="row align-items-center">
                <div class="header-text mb-4">
                     <h2>Portal do Cliente - PROSESMT</h2>
                     <p>Preencha seus dados para acessar o portal.</p>
                </div>
                <!-- Alerts -->
                {% include 'partials/_alert.html' %}
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name='usuario' class="form-control form-control-lg bg-light fs-6" placeholder="Usuário">
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" name="senha" class="form-control form-control-lg bg-light fs-6" placeholder="Senha">
                    </div>
                    <div class="input-group mb-5 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck">
                            <label for="formCheck" class="form-check-label text-secondary"><small>Lembrar-me</small></label>
                        </div>
                        <div class="forgot">
                            <small><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6 login-button">Login</button>
                    </div>
                </form>
                <div class="row">
                    <small>Não tem uma conta? <a href="{% url 'register' %}">Criar conta</a></small>
                </div>
          </div>
       </div> 

      </div>
    </div>

</body>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/main.js"></script>
</html>