{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PROSESMT - Soluções Integradas No Trabalho</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--Bootstrap CSS-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--Index page CSS-->
    <link href="{% static 'css/pages/index.css' %}" rel="stylesheet">

    <style>

      .hero {
        background-image: url({% static 'img/pages/index/hero.jpg' %});
        background-position: center;
        background-size: cover;
      }

      .why-choose-us {
        background-image: url({% static 'img/pages/index/fundo-azul.jpg' %});
        background-position: center;
        background-size: cover;
      }

      .who-we-are {
        background-image: url({% static 'img/pages/index/who-we-are.jpeg' %});
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 2;
      }

      .area-of-business {
        background-image: url({% static 'img/pages/index/fundo-azul.jpg' %});
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <main>
      <nav class="navbar navbar-dark navbar-expand-xl sticky-top scrolled">
        <div class="container">
          <a class="navbar-brand" href="#./index.html">
            <img src="{% static 'img/pages/index/image5.svg' %}" class="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active fs-4" aria-current="page" href="#who-we-are">Quem Somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-4" href="#area-of-business">Atuação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-4" href="#our-services">Nossos Serviços</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-4" href="{% url 'login' %}">Portal do Cliente</a>
              </li>
            </ul>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center ms-auto">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3 text-uppercase contact-button fs-5"><a href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre os serviços da PROSESMT." class="text-reset text-decoration-none" target="_blank">Fale Conosco</a></button>
            </div>
          </div>
        </div>
      </nav>

      <section id="main-hero">
        <div class="px-4 py-5 text-center hero" id="hero">
          <div class="col-lg-5 me-auto">
            <h2 class="mb-3 text-white display-6 text-center mb-5">
              Elaboração de Programas de SST, Gerenciamento do envio dos eventos no E-SOCIAL, Laudos Técnicos das Normas Regulamentadoras do MTE.
            </h2>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-end">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3 contact-button mt-5"><a href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre os serviços da PROSESMT." class="text-reset text-decoration-none" target="_blank">Entre em contato e saiba mais</a></button>
            </div>
          </div>
        </div>
      </section>

      <section id="services" class="services why-choose-us text-white">

        <div class="container aos-init aos-animate pb-5" data-aos="fade-up">

          <header class="section-header py-3">
            <h2 class="text-white text-center text-wrap py-5 why-choose-us-header fs-3">Porque escolher a PROSESMT Soluções Integradas ao Trabalho?</h2>
          </header>

          <div class="row gy-4">

            <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box blue">
                <h3 class="text-white">Atuação Nacional</h3>
                <p>Atendemos em todo o Brasil</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="service-box orange">
                <h3 class="text-white">Capacidade Operacional</h3>
                <p>Documentação, treinamento e gestão de acordo com as normas vigentes</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
              <div class="service-box green">
                <h3 class="text-white">Suporte Eficiente</h3>
                <p>Atendimento ágil e humanizado</p>
              </div>
            </div>

          </div>

        </div>

      </section>

      <section id="who-we-are">
        <div class="container-fluid px-4 py-5 text-center text-white who-we-are">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="py-2 who-we-are-header who-we-are-p mb-5 fs-1">Quem somos?</h1>
              </div>
              <div class="col-lg-6 mx-auto who-we-are-text">
                  <div class="container">
                      <p class="lead mb-4 who-we-are-p">A PROSESMT é uma empresa especializada nas áreas de elaboração de programas de SST, gerenciamento do envio dos eventos no E-SOCIAL, laudos técnicos das normas regulamentadoras e projetos de engenharia mecânica e elétrica.
                          Composta por uma equipe competente e com experiência garantindo assim projetos completos completos e seguros para seus clientes.
                          Somos o empreendimento que trabalha com o objetivo de criar soluções para os desafios enfrentados por quem nos busca, alavancando empreendimentos e garantindo a segurança nos processos produtivos.
                        </p>
                  </div>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                      <button type="button" class="btn btn-primary btn-lg px-4 gap-3 contact-button"><a href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre os serviços da PROSESMT." class="text-reset text-decoration-none" target="_blank">Entre em contato e saiba mais</a></button>
                  </div>
              </div>
          </div>
        </div>
      </section>

      <section id="area-of-business">
        <div class="px-4 py-5 area-of-business">
          <div class="col-lg-12">
              <h1 class="text-center text-white area-of-business-header fs-1">Atuação</h1>
              <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                  <div class="col-xxl-6 col-xl-12 col-lg-12 col-sm-6 small">
                    <img src="{% static 'img/pages/index/image3.svg' %}" class="d-block mx-lg-auto mb-5 brazil-map" loading="lazy">
                  </div>
                  <div class="col-xxl-5 col-xl-12 col-lg-12 col-sm-12 area-of-business-text">
                    <p class="lead text-white fs-5 area-of-business-p">
                        Sediada estrategicamente em Manaus, nossa empresa de gestão de saúde e segurança do trabalho é pioneira em promover ambientes laborais seguros em todo o Brasil com expertise regional e alcance nacional. Oferecemos soluções costumizadas que elevam os padrões de segurança ocupacional. Nossa missão é salvaguardar vidas, otimizar operações e assegurar o cumprimento de normas em qualquer canto do país. Confie em nossa experiência para tornar seu local de trabalho mais seguro e eficiente, onde quer que sua empresa esteja.
                    </p>
                  </div>
                </div>
          </div>
        </div>
      </section>

      <section id="our-services" class="our-services">
        <div class="section-title py-5">
          <h1 class="border-bottom text-center text-white">Nossos Serviços</h1>
        </div>
        <div class="container-fluid d-flex flex-column pb-5 px-5">

          <div class="row">
            <div class="col-xxl-4 col-lg-4 col-md-6 d-flex justify-content-center mt-4">
              <div class="icon-box">
                <div class="d-flex flex-column">
                  <h4 class="text-center text-white">Documentação Legal</h4>
                  <p class="text-white our-services-text">Nossa equipe especializada em Segurança do Trabalho oferece suporte completo na elaboração e atualização de toda documentação legal necessária para garantir a conformidade da sua empresa com as normas vigentes. Desde a análise de documentos até a emissão de relatórios, cuidamos de cada detalhe para manter sua empresa em conformidade com as regulamentações.</p>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Documentação Legal
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Elaboração de Ordem de Serviço (NR-01).">Elaboração de Ordem de Serviço (NR-01)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Elaboração de PGR (NR-01)">Elaboração de PGR (NR-01)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Elaboração de PCMSO (NR-07)">Elaboração de PCMSO (NR-07)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Elaboração de PPR">Elaboração de PPR</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Elaboração de PCA">Elaboração de PCA</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Elaboração de Análises Ergonômicas (NR-17)">Elaboração de Análises Ergonômicas (NR-17)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Elaboração de Laudo de Luximetria NHO-011">Elaboração de Laudo de Luximetria NHO-011</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-6 d-flex justify-content-center mt-4">
              <div class="icon-box">
                <div class="d-flex flex-column">
                  <h4 class="text-center text-white">Laudos Técnicos</h4>
                  <p class=" text-white our-services-text">Contamos com profissionais altamente qualificados para a realização de laudos técnicos detalhados, abrangendo áreas como avaliação de ambientes de trabalho, ergonomia, análise de agentes químicos e físicos, entre outros. Nossos laudos fornecem informações precisas para a identificação e mitigação de riscos ocupacionais.</p>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Laudos Técnicos
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Laudo de NR-10 e SPD1">Laudo de NR-10 e SPDA</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Laudo de NR-12 (Segurança de Máq. e Equipamentos)">Laudo de NR-12 (Segurança de Máq. e Equipamentos)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Laudo de NR-13 (Caldeira e Vaso de Compressão)">Laudo de NR-13 (Caldeira e Vaso de Compressão)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Laudo de NR-15 (Insalubridade)">Laudo de NR-15 (Insalubridade)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Laudo de NR-16 (Periculosidade)">Laudo de NR-16 (Periculosidade)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre LTCAT (Laudo Técnico de Características Ambientais do Trabalho)">LTCAT (Laudo Técnico de Características Ambientais do Trabalho)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Laudo de Conforto Acústico de Comunidade">Laudo de Conforto Acústico de Comunidade</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Laudo de Potabilidade de Água">Laudo de Potabilidade de Água</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-6 d-flex justify-content-center mt-4">
              <div class="icon-box">
                <div class="d-flex flex-column">
                  <h4 class="text-center text-white">Documentação Geral</h4>
                  <p class=" text-white our-services-text">Além da documentação legal específica, oferecemos serviços abrangentes de documentação geral, incluindo registros de segurança, análise de riscos e procedimentos operacionais padrão. Nossa equipe trabalha para garantir que sua empresa tenha todos os documentos necessários para operar de forma segura e eficiente.</p>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Documentação Em Geral
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre SESMT Terceirizado (NR-04)">SESMT Terceirizado (NR-04)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Dimensionamento e Abertura de CIPA (NR-05)">Dimensionamento e Abertura de CIPA (NR-05)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Estudos para Utilização de EPI (NR-06)">Estudos para Utilização de EPI (NR-06)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Medições Ambientais (Físico/Químico)">Medições Ambientais (Físico/Químico)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Plano de Resposta à Emergência (NR-23)">Plano de Resposta à Emergência (NR-23)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Gerenciamento FDS (Ficha de Dados de Segurança)">Gerenciamento FDS (Ficha de Dados de Segurança)</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Abertura de CAT">Abertura de CAT</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Auditoria das Normas Regulamentadoras do MTE">Auditoria das Normas Regulamentadoras do MTE</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Preenchimento do PPP">Preenchimento do PPP</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Exame Psicossocial para Trabalho em Altura">Exame Psicossocial para Trabalho em Altura</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Receituário Agronômico">Receituário Agronômico</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-6 d-flex justify-content-center mt-4">
              <div class="icon-box">
                <div class="d-flex flex-column">
                  <h4 class="text-center text-white">Fornecimento de Recursos Humanos</h4>
                  <p class=" text-white our-services-text">Oferecemos serviços de recrutamento e seleção de profissionais especializados em Segurança do Trabalho, adequados às necessidades específicas da sua empresa. Desde técnicos até engenheiros, garantimos o fornecimento de recursos humanos qualificados para fortalecer sua equipe de saúde e segurança.</p>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle text-wrap" data-bs-toggle="dropdown" aria-expanded="false">
                      Fornecimento de Recursos Humanos
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Bombeiro Civl">Bombeiro Civl</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Médico do Trabalho">Médico do Trabalho</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Técnicos de Enfermagem do Trabalho">Técnicos de Enfermagem do Trabalho</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Enfermeiros do Trabalho">Enfermeiros do Trabalho</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Fisioterapeutas do Trabalho">Fisioterapeutas do Trabalho</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Técnicos de Segurança do Trabalho">Técnicos de Segurança do Trabalho</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Engenheiros de Segurança do Trabalho">Engenheiros de Segurança do Trabalho</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-6 d-flex justify-content-center mt-4">
              <div class="icon-box">
                <div class="d-flex flex-column">
                  <h4 class="text-center text-white">Consultoria e Assessoria Jurídica</h4>
                  <p class="text-white our-services-text">Nossa equipe jurídica especializada em Segurança do Trabalho fornece consultoria e assessoria legal personalizada para lidar com questões regulatórias, litígios e conformidade legal. Estamos aqui para orientar sua empresa em todas as questões jurídicas relacionadas à segurança ocupacional.</p>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Consultoria e Assessoria Jurídica
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Assistência Técnica Pericial em Acidente do Trabalho, Insalubridade e Periculosidade">Assistência Técnica Pericial em Acidente do Trabalho, Insalubridade e Periculosidade</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Asessoria Jurídica em Processos Trabalhistas">Asessoria Jurídica em Processos Trabalhistas</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Compliance em Direito do Trabalho">Compliance em Direito do Trabalho</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre Palestras Jurídicas">Palestras Jurídicas</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-md-6 d-flex justify-content-center mt-4">
              <div class="icon-box">
                <div class="d-flex flex-column">
                  <h4 class="text-center text-white">Cursos - Treinamentos - Palestras</h4>
                  <p class="text-white our-services-text">Oferecemos uma ampla gama de cursos, treinamentos e palestras personalizados em Segurança do Trabalho, incluindo cursos de capacitação, treinamentos e palestras educativas. Nossos programas de treinamento são desenvolvidos para capacitar sua equipe e promover uma cultura de segurança no ambiente de trabalho.</p>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Cursos - Treinamentos - Palestras
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-05 - CIPA">NR-05 - CIPA</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-10 - Formação e Reciclagem">NR-10 - Formação e Reciclagem</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-11 - Operador de Empilhadeira">NR-11 - Operador de Empilhadeira</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-12 - Segurança de Máquinas e Equipamentos">NR-12 - Segurança de Máquinas e Equipamentos</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-13 - Vasos de Pressão e Caldeira">NR-13 - Vasos de Pressão e Caldeira</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-17 - Ergonomia">NR-17 - Ergonomia</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-20 - Segurança e Saúde no Trabalho com Inflamáveis e Combustíveis">NR-20 - Segurança e Saúde no Trabalho com Inflamáveis e Combustíveis</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-23 - Formação de Brigada de Incêndio">NR-23 - Formação de Brigada de Incêndio</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-32 - Segurança e Saúde no Trabalho em Serviços de Saúde">NR-32 - Segurança e Saúde no Trabalho em Serviços de Saúde</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-33 - Espaço Confinado">NR-33 - Espaço Confinado</a></li>
                      <li><a class="dropdown-item" href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre NR-35 - Trabalho em Altura">NR-35 - Trabalho em Altura</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="mt-5 d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3 contact-button"><a href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre os serviços da PROSESMT." class="text-reset text-decoration-none" target="_blank">Entre em contato e saiba mais</a></button>
        </div>

        </div>
      </section>

      <section id="clients" class="clients">

        <div class="container-fluid aos-init aos-animate" data-aos="fade-up">

          <div class="container clients-header">
            <h1 class="text-center py-5">Empresas Parceiras</h1>
          </div>

          <div class="row gy-4">

            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{% static 'img/pages/index/2560px-Logo_Legrand_SA.svg.svg' %}" class="img-fluid" alt="">
            </div><!-- End Client Item -->

            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{% static 'img/pages/index/ambev-logo(1).svg' %}" class="img-fluid" alt="">
            </div><!-- End Client Item -->

            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{% static 'img/pages/index/Bic_logo.svg.svg' %}" class="img-fluid" alt="">
            </div><!-- End Client Item -->

            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{% static 'img/pages/index/Coca-Cola_logo.svg.svg' %}" class="img-fluid" alt="">
            </div><!-- End Client Item -->

            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{% static 'img/pages/index/diebold-nixdorf-vector-logo.svg' %}" class="img-fluid" alt="">
            </div><!-- End Client Item -->

            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img src="{% static 'img/pages/index/fortlev.svg' %}" class="img-fluid" alt="">
            </div><!-- End Client Item -->

          </div>

        </div>

      </section>

    </main>

    <a href="https://wa.me/5592985143181?text=Olá! Gostaria de conhecer mais sobre serviços da PROSESMT." class="float" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
    </a>

    <!--Bootstrap JS-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>