{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROSESMT - Portal do Cliente</title>

    <!--Bootstrap CSS-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Login page CSS-->
    <link href="{% static 'css/pages/login.css' %}" rel="stylesheet">
</head>
<body>
    {% block content %} {% endblock %}

    <!--Bootstrap JS-->
    <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>